body {
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color: white;
    padding: 12px;
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li{
    display: inline;
    margin-right: 15px;
    
}

ul li a{
    text-decoration: none;
    color: antiquewhite;
    font-weight: bolder;
    font-size: large;
}

#products{
    display: flex;
    justify-content: space-around;
}

.product{
    border: 1px solid black ;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.product p {
    color: chocolate;
    font-weight: bold;
}
.product button {
    background-color: black;
    color: antiquewhite;
    border: none;
padding: 5px;
}
.product button:hover{
    border-radius: 5px;
    cursor: pointer;
    background-color: blue;
}